In [ ]:
# Part A: Basic Function Definitions

# Q1. Write a function greet_user() that prints "Hello, welcome to Python programming!".
# Q2. Write a function add_numbers(a, b) that returns the sum of two numbers.
# Q3. Write a function is_even(n) that returns True if the number is even, else False.
# Q4. Write a function factorial(n) that returns the factorial of a number using a loop.

In [1]:
# Q1. Write a function greet_user() that prints "Hello, welcome to Python programming!".

In [156]:
def greet_user(name):
    print("Hello, welcome to Python programming!",name)
greet_user("ritika")

Hello, welcome to Python programming! ritika

In [ ]:
# Q2. Write a function add_numbers(a, b) that returns the sum of two numbers.

In [39]:
def add_numbers(a, b):
    add=a+b
    return add
total=add_numbers(5, 6)
print(total)

11

In [45]:
add_numbers(5,1)

6

In [44]:
add_numbers(6,1)

7

In [46]:
# Q3. Write a function is_even(n) that returns True if the number is even, else False.

In [181]:
n=int(input("Enter the number:"))

Enter the number: 7

In [183]:
def is_even(n):
    if n%2==0:
     return "True"
    elif n%2!=0:
      return "False"
is_even(n)

'False'

In [ ]:
# Q4. Write a function factorial(n) that returns the factorial of a number using a loop.

In [47]:
n=int(input("Enter the number:"))

Enter the number: 5

In [48]:
def factorial(n):                    # Using for loop
    fact=1
    for i in range(1,n+1):
        fact*=i
    return fact
        
factorial(n)

120

In [ ]:

# ðŸ”¹ Part B: Intermediate Level

In [ ]:
# ðŸ”¹ Part B: Intermediate Level
# Q5. Write a function find_max(lst) that takes a list and returns the maximum number.
# Q6. Write a function count_vowels(s) that counts the number of vowels in a string.
# Q7. Write a function reverse_string(s) that returns the reverse of a string.
# Q8. Write a function fibonacci(n) that returns the first n numbers in the Fibonacci sequence.

In [49]:
# Q5. Write a function find_max(lst) that takes a list and returns the maximum number.

In [50]:
my_list=[55,22,8,6,15,11,87,85,78,44,14,36,78]

In [51]:
my_list

[55, 22, 8, 6, 15, 11, 87, 85, 78, 44, 14, 36, 78]

In [76]:
def max_number(h):
    
 largest=h[0]
 for i in h:
      if i> largest:
          largest=i     
 return largest

In [75]:
max_number(my_list)

87

In [ ]:
# Q6. Write a function count_vowels(s) that counts the number of vowels in a string.

In [40]:
my_string = input("Enter any string:")

Enter any string: tyrueihnmbgysioidalnlz

In [41]:
#my_string="coaching"
def count_vowels(s):
    count= 0

    for i in my_string:
      if i in "aeiouAEIOU":
        count+=1
    return count

In [42]:
count_vowels(count)

7

In [37]:
# Q7. Write a function reverse_string(s) that returns the reverse of a string.

In [83]:
string1=input("Enter any word:")

Enter any word: pyhtonprogramming

In [84]:
def reverse_string(s):
    return s[::-1]
    
reverse_string(string1)

'gnimmargorpnothyp'

In [ ]:
# Q8. Write a function fibonacci(n) that returns the first n numbers in the Fibonacci sequence.

In [7]:

n=int(input("Enter the number:"))

Enter the number: 10

In [8]:
def fibo(n):
    x=0
    y=1
    print(x,y,end=" ")
    for i in range(n):
        new_number = x+y
        x=y
        y=new_number
        print(new_number,end=" ")
fibo(n)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:

# Advance level:-

In [ ]:
# Q9. Write a recursive function sum_of_digits(n) that returns the sum of digits of a number.

In [45]:
def sum_of_digits(n):
   if (n == 0):   
        return 0
   return sum_of_digits(n-1)+n
       
sum = sum_of_digits(10)
print(sum)

55

In [46]:
def sum_of_digits(n):
   if (n == 0):   
        return 0
   return sum_of_digits(n-1)+n
       
sum_of_digits(10)

55

In [47]:
# Q10. Write a function is_palindrome(s) that checks whether a string is a palindrome or not.

In [64]:
char=input("Enter any string:")

Enter any string: comic

In [65]:
reversed=char[::-1]

def is_palindrome(s):
    if char == reversed:
        return "palindromic"
    else:
        return  "not palindromic"
is_palindrome(char)

'not palindromic'

In [ ]:
# Q11. Write a function calculate_grade(score) that returns a grade based on score:

# 90-100: A
# 80-89: B
# 70-79: C
# 60-69: D
# Below 60: F

In [51]:
marks= int(input("Enter your marks:"))

Enter your marks: 85

In [52]:
def calculate_grade(score):
   if marks >=90:
    Grade ="A"
   elif marks>=80:
    Grade ="B"
   elif marks >=70:
    Grade ="C"
   elif marks >=60:
    Grade ="D"
   else:
    Grade ="F"
   return Grade
    
score=calculate_grade(marks)   
print(f" your score {marks} marks in exam with the  grade of {score}.")

 your score 85 marks in exam with the  grade of B.

In [53]:
# Q12. Write a function analyze_list(lst) that returns:

# Total number of elements
# Maximum and minimum value
# Average

In [1]:
# Total number of elements
def analyze_list(lst):
    
 length = len(my_list)     # Total number of elements
 return length
my_list = [45,89,78,True,74,"welcome",89,36,64,78,"Hello",]

analyze_list(my_list)

11

In [85]:
# Maximum and minimum value
def analyze_list(lst):
    
 max_num = max(my_list)         # Maximum value
 min_num = min(my_list)         #Miniumum value
 return max_num,min_num
my_list = [45,89,78,74,89,36,64,78,100,94,78,96,105,254]

m1,m2 = analyze_list(my_list)
print(m1)
print(m2)

254
36

In [3]:
# Average
def analyze_list(lst):        
  
 my_list = [45,89,78,74,89,36,64,8,9,4]
 length = len(my_list)    
 total=sum(my_list)
 average= total/length 
 return average

analyze_list(my_list)

49.6

In [104]:
# Q13. Use a lambda function with map() to square all elements of a list.

In [7]:

my_list = [4,8,2,8,5,4]
square = map(lambda x: x**2,my_list)
print(list(square))

[16, 64, 4, 64, 25, 16]

In [ ]:
# Q14. Use a lambda function with filter() to filter even numbersÂ fromÂ aÂ list.

In [8]:
my_list = [4,8,2,8,5,4,8,9,5,6,2,3]
even_num = filter(lambda x: x%2==0, my_list)
print(list(even_num))

[4, 8, 2, 8, 4, 8, 6, 2]